body {
	margin: 0px;
}

h1 {
	background: #36C6F7;
	padding: 5px;
	font-family: Arial;
}

.news-item {
	height: 20%;
	margin: 10px;
	background: #316A7D;
	box-shadow: 0px 0px 10px black;
	border-radius: 5px;
	color:white;
	font-family: arial;
	overflow: hidden;
	max-height: 40%;
}

.news-item-header {
	background: white;
	height: 30%;
	width: 100%;
	margin-bottom: 5px;
	color:black;
	padding: 5px;
	font-weight:bold;
}
.news-item-body {
	height: 80%;
	width: 100%;
	padding: 5px;
	border-radius: 5px;
}