@font-face {
  font-family: 'Karma';
  font-style: normal;
  font-weight: 400;
  src: local('Karma Regular'), local('Karma-Regular'), url(http://fonts.gstatic.com/s/karma/v5/E4YVLCG37sfvbHtA5q6EAQ.woff) format('woff');
}
@font-face {
  font-family: 'Karma';
  font-style: normal;
  font-weight: 500;
  src: local('Karma Medium'), local('Karma-Medium'), url(http://fonts.gstatic.com/s/karma/v5/-pjjo2a9sWKoqL983ALj3PesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Karma';
  font-style: normal;
  font-weight: 600;
  src: local('Karma SemiBold'), local('Karma-Semibold'), url(http://fonts.gstatic.com/s/karma/v5/ptUFmyYFCgViUfhjLkMC9_esZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Karma';
  font-style: normal;
  font-weight: 700;
  src: local('Karma Bold'), local('Karma-Bold'), url(http://fonts.gstatic.com/s/karma/v5/gjALpX3Bp5l7Vc3J156EmfesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
