#navbar {
	display: block;
	width: 100%;
	position:fixed;
	text-align: center;
	background: #34C6F7;
	padding: 6px;
	top:0;
	font-family: arial;
	font-weight:bold;
	left:0;
	box-shadow: 0px 5px 5px #34C6F7;
}