@media only screen and (min-width: 1000px) and (max-width: 1025px)   {
#img4{
	height: 234px;
}

#img6{
	height: 320px;
}


#img8{
	height: 435px;
}


#img13{
	height: 300px;
}

#img14{
	height: 330px;
}

#img15{
	height: 200px;
}

#img16{
	height: 200px;
}

#img18{
	height: 205px;
}

#img17{
	height: 550px;
}

#img22{
	
	height: 550px;
}

#img23{
	
	height: 325px;
}

#img24{
	
	height: 200px;
}

#img28{
	
	height: 285px;
}

#img30{
	
	height: 285px;
}

#img47{
	
	height: 202px;
}

#img50{
	
	height: 355px;
}

#img57{
	
	height: 338px;
}

#img59{
	
	height: 635px ;
}
}

@media only screen and (max-width: 414px)  { 

#img4{
	height: 100%;
}


#img8{
	height: 165px;
}

#img9{
	height: 60px;
}

#img10{
	height: 140px;
}

#img6{
	height:100px;
}

#img13{
	height: 150px;
}

#img14{
	margin-left: 8px;
	height: 117px;
	
}


#img15{
	
	height: 82px;
}


#img16{
	
	height: 82px;
}	

#img17 {
	
	height: 240px;
}	


#img22{
	
	height: 240px;
}	

#img59{
	height: 240px;
}

#img61{
	margin-top: 20px;
}	


}


@media only screen and (min-width:1026px)  { 

#img6{
	height:  250px
}

#img8{
	height:  410px
}

#img10{
	height: 324px
}

#img14{
	height: 300px
}



#img15{
	
	height: 170px;
}


#img16{
	
	height: 170px;
}	


#img17 {
	
	height: 500px;
}	


#img22{
	
	height: 500px;
}

#img28{
	
	height: 272px;
}	

#img47{
	
	height: 180px ;
}

#img50{
	
	height: 320px ;
}	

#img59{
	
	height: 560px ;
}

}

@media only screen and (min-width: 800px) and (max-width: 1000px)   {


#img6{
	height: 300px;
}


#img8{
	height: 350px;
}

}


@media only screen and (min-width: 720px) and (max-width: 800px)   {


#img6{
	height: 260px;
}


#img8{
	height: 325px;
}

}
